/* Universal syles */
html {
  box-sizing: border-box;
  color: #ffff;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 100%;
  letter-spacing: 0.4;
}

body {
  background-image: url(/rps-images/shiny-overlay.png);
  background-repeat: no-repeat;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

.game-contain {
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  height: 100vh;
}

.header-contain {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.header-contain > h1,
.header-contain > p {
  margin: 0;
}

.main-content {
  display: grid;
}

.scorecard {
  font-size: 18px;
}

.score-numbers {
  font-size: 32px;
}

.sub-header,
.game-message {
  font-size: 21px;
}
