/* Universal syles */
html {
  color: #ffff;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 100%;
}

body {
  background-image: url(/rps-images/shiny-overlay.png);
  background-repeat: no-repeat;
  font-size: 1em;
  margin: auto;
  text-align: center;
}

.game-contain {
  height: 100vh;
  margin: 2.5em 4.0625em auto;
}
