/* Universal syles */
body,
html {
  box-sizing: border-box;
  color: #ffff;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 16px;
  min-height: -webkit-fill-available;
  overflow: hidden;
}

body {
  background-image: url(./rps-images/shiny-overlay.png);
  background-size: cover;
  font-size: 1rem;
  height: 100vh;
  margin: auto;
  text-align: center;
}

.game-contain {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-evenly;
}

h1,
p {
  margin: 0;
}

.player-result-contain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.score-numbers-contain {
  margin: 0 40px;
}

.score-numbers {
  font-size: 38px;
}

.rock-btn,
.paper-btn,
.scissor-btn,
.result,
.img-contain {
  height: 65px;
  width: 60px;
}

.result {
  visibility: hidden;
}

.btn-border {
  border: 2px white solid;
  border-radius: 25px;
  padding: 10px;
}

.player-control {
  display: flex;
  gap: 10px;
}

.winner-glow {
  border: 2px #09ff00 solid;
  box-shadow: 0 0 10px #31b43a;
}

.loser-glow {
  border: 2px #ff0008 solid;
  box-shadow: 0 0 10px #d01115;
}

.tiegame-glow {
  border: 2px #efff12 solid;
  box-shadow: 0 0 10px #dacb00;
}

.play-again {
  background-color: rgb(255, 166, 0);
  border: 1px solid rgb(255, 174, 25);
  border-radius: 8px;
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  padding: 8px 24px;
}

/* Media queries for larger screens */

/* iphone 6/7/8 */
@media only screen and (min-width: 375px) {
  body {
    font-size: 1.3rem;
  }
  .rock-btn,
  .paper-btn,
  .scissor-btn,
  .result,
  .img-contain {
    height: 75px;
    width: 70px;
  }
  .score-numbers-contain {
    margin: 0 45px;
  }
  .player-control {
    gap: 25px;
  }
}
/* iphone 6/7/8 plus */
@media only screen and (min-width: 414px) {
  .player-control {
    gap: 30px;
  }
}
/* ipad  */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.5rem;
  }
  .play-again {
    font-size: 21px;
  }
}
/* ipad pro and desktop 1024px*/
@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
  }
  .game-contain {
    gap: 125px;
    justify-content: center;
  }
  .score-numbers-contain {
    margin: 0 75px;
  }
  .score-numbers {
    font-size: 48px;
  }
  .rock-btn,
  .paper-btn,
  .scissor-btn,
  .result,
  .img-contain {
    height: 80px;
    width: 80px;
  }
  .player-control {
    gap: 60px;
  }
}
